In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import warnings

warnings.filterwarnings('ignore')

In [9]:
kagle = dict(
    drivername='postgresql',
    username='dsbc_student', 
    password='7*.8G9QH21', 
    host='142.93.121.174', 
    port='5432', 
    database='youtube')

engine=create_engine(URL(**kagle), echo=True)

youtube_df = pd.read_sql_query('SELECT * FROM youtube', con=engine)

engine.dispose()

2019-11-12 11:56:17,504 INFO sqlalchemy.engine.base.Engine select version()
2019-11-12 11:56:17,507 INFO sqlalchemy.engine.base.Engine {}
2019-11-12 11:56:17,612 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-11-12 11:56:17,613 INFO sqlalchemy.engine.base.Engine {}
2019-11-12 11:56:17,714 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-11-12 11:56:17,715 INFO sqlalchemy.engine.base.Engine {}
2019-11-12 11:56:17,766 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-11-12 11:56:17,767 INFO sqlalchemy.engine.base.Engine {}
2019-11-12 11:56:17,818 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-11-12 11:56:17,818 INFO sqlalchemy.engine.base.Engine {}
2019-11-12 11:56:17,920 INFO sqlalchemy.engine.base.Engine SELECT * FROM youtube
2019-11-12 11:56:17,921 INFO sqlalchemy.engine.base.Engine {}

In [10]:
youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [11]:
youtube_df.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [14]:
# The dataframe contains non-numeric data in the 'Video Uploads' & 'Subscribers' columns.
# youtube_df[(youtube_df["Video Uploads"].str.strip() == "--") | (youtube_df["Subscribers"].str.strip() == "--")]

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
17,18th,A+,Vlad and Nikita,53,--,1428274554
108,109th,A,BIGFUN,373,--,941376171
115,116th,A,Bee Kids Games - Children TV,740,--,414535723
142,143rd,A,ChiChi TV Siêu Nhân,421,--,2600394871
143,144th,A,MusicTalentNow,1487,--,3252752212
...,...,...,...,...,...,...
4941,"4,942nd",B+,GMTV,183,--,127080542
4948,"4,949th",B+,Keivon ToysReview,468,--,481568513
4956,"4,957th",B+,CLICKNEWS,2661,--,139940815
4961,"4,962nd",B+,ONE Championship,905,--,109836654
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704

In [23]:
youtube_df[(youtube_df["Video Uploads"].apply(lambda x: not x.isnumeric())) | 
    (youtube_df["Subscribers"].apply(lambda x: not x.isnumeric()))]

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
17,18th,A+,Vlad and Nikita,53,--,1428274554
108,109th,A,BIGFUN,373,--,941376171
115,116th,A,Bee Kids Games - Children TV,740,--,414535723
142,143rd,A,ChiChi TV Siêu Nhân,421,--,2600394871
143,144th,A,MusicTalentNow,1487,--,3252752212
...,...,...,...,...,...,...
4941,"4,942nd",B+,GMTV,183,--,127080542
4948,"4,949th",B+,Keivon ToysReview,468,--,481568513
4956,"4,957th",B+,CLICKNEWS,2661,--,139940815
4961,"4,962nd",B+,ONE Championship,905,--,109836654
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704

In [24]:
youtube_df.nunique()

Rank             5000
Grade               6
Channel name     4993
Video Uploads    2286
Subscribers      4612
Video views      5000
dtype: int64

In [25]:
# This method returns group numbers given video views
def categorize_video_views(views_num):
    if views_num >= 1000000000: 
        return 1
    elif views_num >= 100000000:
        return 2 
    else:
        return 3

# Use the Pandas .apply() method by callin the function above 
youtube_df['views_group'] = youtube_df['Video views'].apply(categorize_video_views)

# See how many observations there are in each group
print(youtube_df.groupby("views_group")["Video views"].count())

views_group
1    1399
2    2846
3     755
Name: Video views, dtype: int64

_Consider the advantages and disadvantages of treating Rank as categorical.  Discuss with you mentor_

Treating _Rank_ as categorical allows you to assign rank-ordering categories to the variable.  The trade-off is that you can not quantitfy the ordering based simply on the variable itself.

_What are the types of the following variables: __Age__, __Salary__, __Revenue__, __Stock Price__ ?_

- _Age_ can be _Categorical_ or _Continuous_ depending on the need.
- _Salary_, same as age, could be _Continuious_ or _Categorical_.
- _Revenue_ is a _Continuious_ variable.
- _Stock Price_ is a _Continuious_ variable.

In [ ]:
d