In [1]:
import pandas as pd 
import numpy as np 
import warnings
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

warnings.filterwarnings('ignore')

In [2]:
kagle = dict(
    drivername="postgresql", 
    username="dsbc_student", 
    password="7*.8G9QH21", 
    host="142.93.121.174", 
    port="5432", 
    database="youtube"
)

engine=create_engine(URL(**kagle), echo=True)

youtube_df = pd.read_sql_query("SELECT * FROM youtube", con=engine)

engine.dispose()

2019-11-13 09:08:33,518 INFO sqlalchemy.engine.base.Engine select version()
2019-11-13 09:08:33,520 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:08:33,616 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-11-13 09:08:33,620 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:08:33,716 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-11-13 09:08:33,719 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:08:33,772 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-11-13 09:08:33,774 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:08:33,829 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-11-13 09:08:33,831 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:08:33,936 INFO sqlalchemy.engine.base.Engine SELECT * FROM youtube
2019-11-13 09:08:33,942 INFO sqlalchemy.engine.base.Engine {}

In [3]:
youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [4]:
# Detecting missing values
for column_name in youtube_df.columns:
    print(f"Uniques values in column {column_name} are: {youtube_df[column_name].unique()}")

Uniques values in column Rank are: ['1st' '2nd' '3rd' ... '4,998th' '4,999th' '5,000th']
Uniques values in column Grade are: ['A++ ' 'A+ ' 'A ' '\xa0 ' 'A- ' 'B+ ']
Uniques values in column Channel name are: ['Zee TV' 'T-Series' 'Cocomelon - Nursery Rhymes' ... 'Mastersaint'
 'Bruce McIntosh' 'SehatAQUA']
Uniques values in column Video Uploads are: ['82757' '12661' '373' ... '1735' '706' '3475']
Uniques values in column Subscribers are: ['18752951' '61196302' '19238251' ... '3265735' '32990' '21172']
Uniques values in column Video views are: [20869786591 47548839843  9793305082 ...   311758426    14563764
    73312511]

In [5]:
# print all values that cannot be converted to float
for column_name in ["Video Uploads","Subscribers"]: 
    print(f"These are the problematic values for the variable: {column_name}")
    for value in youtube_df[column_name]:
        try:
            float(value)
        except:
            print(value)

These are the problematice values for the variable: Video Uploads
--
--
--
--
--
--
These are the problematice values for the variable: Subscribers
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--

In [6]:
# Rplace "--" values with empty strings
for column_name in ["Video Uploads","Subscribers"]:
    try:
        youtube_df[column_name] = youtube_df[column_name].apply(str.strip).replace("--", np.nan)
        youtube_df[column_name] = pd.to_numeric(youtube_df[column_name], downcast="float")
    except:
        print("No strings to replace")

youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    4994 non-null float32
Subscribers      4613 non-null float32
Video views      5000 non-null int64
dtypes: float32(2), int64(1), object(3)
memory usage: 195.4+ KB

In [8]:
# Calculate the percentages of missing values in all columns
youtube_df.isnull().sum()*100/youtube_df.isnull().count()

Rank             0.00
Grade            0.00
Channel name     0.00
Video Uploads    0.12
Subscribers      7.74
Video views      0.00
dtype: float64

In [9]:
# Look for nulls in categorical columns
youtube_df["Grade"].value_counts()

B+      2956
A-      1024
A        963
A+        41
A++       10
Â           6
Name: Grade, dtype: int64

In [10]:
# Replace empty strings with np.nan
youtube_df["Grade"] = youtube_df["Grade"].apply(str.strip).replace("", np.nan)

# Print a new list of unique values
youtube_df["Grade"].unique()

array(['A++', 'A+', 'A', nan, 'A-', 'B+'], dtype=object)

In [11]:
# Replace missing values in the "Video Uploads" and "Subscribers" columns with mean values
for column_name in ["Video Uploads","Subscribers"]:
    try:
        youtube_df[column_name].fillna(youtube_df[column_name].mean(), inplace=True)
    except:
        print("No values could be replaced")

In [12]:
# Run null percentages
youtube_df.isnull().sum()*100/youtube_df.count()

Rank             0.000000
Grade            0.120144
Channel name     0.000000
Video Uploads    0.000000
Subscribers      0.000000
Video views      0.000000
dtype: float64

In [14]:
# Fill in missing values
grade_list = youtube_df["Grade"]

for i in range(0, len(youtube_df["Grade"])):
    if pd.isnull(youtube_df["Grade"][i]):
        youtube_df["Grade"][i] = youtube_df["Grade"][i-1]

youtube_df["Grade"].unique()

array(['A++', 'A+', 'A', 'A-', 'B+'], dtype=object)

In [15]:
# Run null percentages
youtube_df.isnull().sum()*100/youtube_df.count()

Rank             0.0
Grade            0.0
Channel name     0.0
Video Uploads    0.0
Subscribers      0.0
Video views      0.0
dtype: float64

# Assignment

In [17]:
kagle = dict(
    drivername="postgresql", 
    username="dsbc_student", 
    password="7*.8G9QH21", 
    host="142.93.121.174", 
    port="5432", 
    database="useducation"
)

engine=create_engine(URL(**kagle), echo=True)

education_df = pd.read_sql_query("SELECT * FROM useducation", con=engine)

engine.dispose()

2019-11-13 09:44:01,160 INFO sqlalchemy.engine.base.Engine select version()
2019-11-13 09:44:01,162 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:44:01,261 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-11-13 09:44:01,262 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:44:01,364 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-11-13 09:44:01,365 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:44:01,420 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-11-13 09:44:01,421 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:44:01,468 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-11-13 09:44:01,468 INFO sqlalchemy.engine.base.Engine {}
2019-11-13 09:44:01,564 INFO sqlalchemy.engine.base.Engine SELECT * FROM useducation
2019-11-13 09:44:01,565 INFO sqlalchemy.engine.base.Engine {}

_1. Determine all variable types and find the fraction of the missing values for each variable._

In [86]:
education_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [88]:
# Take a look at a random sample of rows to get a feel for the data
education_df.sample(n=5)

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
1060,2012_IOWA,IOWA,2012,495870.0,6262807.0,512246.0,2681035.0,3069526.0,6256926.0,3072424.0,...,35492.0,35694.0,36254.0,285931.0,144784.0,458444.0,NaN,NaN,NaN,NaN
1104,2013_DELAWARE,DELAWARE,2013,118685.0,1930466.0,151096.0,1124112.0,655258.0,1924626.0,1030897.0,...,10069.0,9993.0,8536.0,81303.0,38483.0,121199.0,243.107758,282.338299,225.771651,271.009087
421,2000_COLORADO,COLORADO,2000,707436.0,5073266.0,266207.0,2083318.0,2723741.0,5444193.0,2539372.0,...,57056.0,55384.0,43502.0,450150.0,207942.0,673469.0,NaN,NaN,NaN,259.564238
1457,2017_GEORGIA,GEORGIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.383603,281.035488,219.682925,266.553369
1097,2017_OREGON,OREGON,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,233.132460,282.173028,217.531073,261.236934

In [139]:
# The "PRIMARY_KEY" & "STATE" columns appear to be categorical columns split them off and examine the separately
categorical_cols = education_df.select_dtypes(include='object').columns
continuous_cols = education_df.select_dtypes(exclude='object').columns

# Create some variables for calculation
df_len = len(education_df)
max_col = len(max(education_df.columns, key=len))

In [122]:
for col in categorical_cols:
    vals = sorted(education_df[col].unique(), key=len)
    print(f"first five shortest strings in '{col}': {vals[:5]} \n")    

# Look at null value information for continuous variables
for col in categorical_cols:
    empty_strings = len(education_df.loc[education_df[col]==''])
    nulls = education_df[col].isna().sum()
    tot_nulls = empty_strings + nulls
    pct_nan = tot_nulls*100/df_len
    print(f"{col:<{max_col}}: {tot_nulls:>{5}} nulls | percent null: {pct_nan:>{5}.2f}")

first five shortest strings in 'PRIMARY_KEY': ['2012_BI', '2012_DD', '1998_BI', '1998_DD', '1998_AS']

first five shortest strings in 'STATE': ['BI', 'DD', 'AS', 'GU', 'MP']

PRIMARY_KEY                 :     0 nulls | percent null:  0.00
STATE                       :     0 nulls | percent null:  0.00

In [123]:
# Look a null value information for continuous variables
for col in continuous_cols:
    nulls = education_df[col].isnull().sum()
    pct_null = nulls*100/df_len
    print(f"{col:<{max_col}}: {nulls:>{5}} nulls | percent null: {pct_null:>{5}.2f}")

YEAR                        :     0 nulls | percent null:  0.00
ENROLL                      :   263 nulls | percent null: 17.63
TOTAL_REVENUE               :   212 nulls | percent null: 14.21
FEDERAL_REVENUE             :   212 nulls | percent null: 14.21
STATE_REVENUE               :   212 nulls | percent null: 14.21
LOCAL_REVENUE               :   212 nulls | percent null: 14.21
TOTAL_EXPENDITURE           :   212 nulls | percent null: 14.21
INSTRUCTION_EXPENDITURE     :   212 nulls | percent null: 14.21
SUPPORT_SERVICES_EXPENDITURE:   212 nulls | percent null: 14.21
OTHER_EXPENDITURE           :   263 nulls | percent null: 17.63
CAPITAL_OUTLAY_EXPENDITURE  :   212 nulls | percent null: 14.21
GRADES_PK_G                 :   173 nulls | percent null: 11.60
GRADES_KG_G                 :   132 nulls | percent null:  8.85
GRADES_4_G                  :   131 nulls | percent null:  8.78
GRADES_8_G                  :   131 nulls | percent null:  8.78
GRADES_12_G                 :   131 nulls | percent null:  8.78
GRADES_1_8_G                :   131 nulls | percent null:  8.78
GRADES_9_12_G               :   131 nulls | percent null:  8.78
GRADES_ALL_G                :   173 nulls | percent null: 11.60
AVG_MATH_4_SCORE            :   956 nulls | percent null: 64.08
AVG_MATH_8_SCORE            :   960 nulls | percent null: 64.34
AVG_READING_4_SCORE         :   959 nulls | percent null: 64.28
AVG_READING_8_SCORE         :   994 nulls | percent null: 66.62

When reviewing the education_df the null values appear to concentrated in the continuous variables.  With regard to the categorical variables there are no null or nan values.

_2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?_

I am inclined to use Imputation of the mean for columns 'ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE', 'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 'GRADES_KG_G', 'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G', 'GRADES_9_12_G', & 'GRADES_ALL_G'.  It is my belief that using imputation on these columns would be reasonable at most 17.62% of records would see an impact by filling nulls with imputation.  I would consider dropping the columns: 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', & 'AVG_READING_8_SCORE' because using the data in these columns would have a substantial impact on conclusions drawn from their inclusion in the analysis.

In [149]:
# Pass the continuious variable columns to a list 
replace_cols = list(continuous_cols)

# Do not consider the year column for replacement
replace_cols.remove('YEAR')

In [158]:
# Make a copy of the education_df to work on as you'll want to perform replacement several more times.
ed_replace1 = education_df
for col in replace_cols:
    try:
        ed_replace1[col].fillna(ed_replace1[col].mean(), inplace=True)
    except:
        print("No values could be replaced.")

ed_replace1 = ed_replace1.drop(columns=["AVG_MATH_4_SCORE","AVG_MATH_8_SCORE","AVG_READING_4_SCORE","AVG_READING_8_SCORE"])

ed_replace1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 21 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1492 non-null float64
TOTAL_REVENUE                   1492 non-null float64
FEDERAL_REVENUE                 1492 non-null float64
STATE_REVENUE                   1492 non-null float64
LOCAL_REVENUE                   1492 non-null float64
TOTAL_EXPENDITURE               1492 non-null float64
INSTRUCTION_EXPENDITURE         1492 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1492 non-null float64
OTHER_EXPENDITURE               1492 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1492 non-null float64
GRADES_PK_G                     1492 non-null float64
GRADES_KG_G                     1492 non-null float64
GRADES_4_G                      1492 non-null float64
GRADES_8_G                      1492 non-null float64
GRADES_12_G                     1492 non-null float64
GRADES_1_8_G                    1492 non-null float64
GRADES_9_12_G                   1492 non-null float64
GRADES_ALL_G                    1492 non-null float64
dtypes: float64(18), int64(1), object(2)
memory usage: 244.9+ KB

_3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year._

In [161]:
replace_cols2 = education_df
year_list = education_df['YEAR'].unique()

for col in replace_cols:
    for year in year_list:
        replace_cols2.loc[replace_cols2['YEAR']==year, col] = replace_cols2.loc[replace_cols2['YEAR']==year,col].fillna(replace_cols2[replace_cols2['YEAR']==year][col].mean())

replace_cols2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1492 non-null float64
TOTAL_REVENUE                   1492 non-null float64
FEDERAL_REVENUE                 1492 non-null float64
STATE_REVENUE                   1492 non-null float64
LOCAL_REVENUE                   1492 non-null float64
TOTAL_EXPENDITURE               1492 non-null float64
INSTRUCTION_EXPENDITURE         1492 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1492 non-null float64
OTHER_EXPENDITURE               1492 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1492 non-null float64
GRADES_PK_G                     1492 non-null float64
GRADES_KG_G                     1492 non-null float64
GRADES_4_G                      1492 non-null float64
GRADES_8_G                      1492 non-null float64
GRADES_12_G                     1492 non-null float64
GRADES_1_8_G                    1492 non-null float64
GRADES_9_12_G                   1492 non-null float64
GRADES_ALL_G                    1492 non-null float64
AVG_MATH_4_SCORE                1492 non-null float64
AVG_MATH_8_SCORE                1492 non-null float64
AVG_READING_4_SCORE             1492 non-null float64
AVG_READING_8_SCORE             1492 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

_4. This time, fill in the missing values using interpolation (extrapolation)._

In [164]:
# Fill missing values via interolation
replace_cols3 = education_df
col_list = replace_cols3.columns

for col in col_list:
    for i in range(0, len(replace_cols3[col])):
        if pd.isnull(replace_cols3[col][i]): 
            replace_cols3[col][i] = replace_cols3[col][i-1]

replace_cols3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1492 non-null float64
TOTAL_REVENUE                   1492 non-null float64
FEDERAL_REVENUE                 1492 non-null float64
STATE_REVENUE                   1492 non-null float64
LOCAL_REVENUE                   1492 non-null float64
TOTAL_EXPENDITURE               1492 non-null float64
INSTRUCTION_EXPENDITURE         1492 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1492 non-null float64
OTHER_EXPENDITURE               1492 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1492 non-null float64
GRADES_PK_G                     1492 non-null float64
GRADES_KG_G                     1492 non-null float64
GRADES_4_G                      1492 non-null float64
GRADES_8_G                      1492 non-null float64
GRADES_12_G                     1492 non-null float64
GRADES_1_8_G                    1492 non-null float64
GRADES_9_12_G                   1492 non-null float64
GRADES_ALL_G                    1492 non-null float64
AVG_MATH_4_SCORE                1492 non-null float64
AVG_MATH_8_SCORE                1492 non-null float64
AVG_READING_4_SCORE             1492 non-null float64
AVG_READING_8_SCORE             1492 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

_5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?_

In [202]:
selected_data = ["ENROLL","TOTAL_REVENUE","FEDERAL_REVENUE","STATE_REVENUE"]

stat_set1 = ed_replace1[selected_data]
stat_set2 = replace_cols2[selected_data]
stat_set3 = replace_cols3[selected_data]

stat_sets = [stat_set1, stat_set2, stat_set3]

print("Set Means:")
print(f"{'Column':<{max_col+2}}{'Set 1 Mean':>{13}} | {'Set 2 Mean':>{13}} | {'Set 3 Mean':>{13}}")
for col in selected_data:    
    print(f"{col:<{max_col}}: {stat_set1[col].mean():>{13},.2f} | {stat_set2[col].mean():>{13},.2f} | {stat_set3[col].mean():>{13},.2f}")

print("\nSet Medians:")
print(f"{'Column':<{max_col+2}}{'Set 1 Median':>{13}} | {'Set 2 Median':>{13}} | {'Set 3 Median':>{13}}")
for col in selected_data:    
    print(f"{col:<{max_col}}: {stat_set1[col].median():>{13},.2f} | {stat_set2[col].median():>{13},.2f} | {stat_set3[col].median():>{13},.2f}")

print("\nSet Modes:")
print(f"{'Column':<{max_col+2}}{'Set 1 Mode':>{13}} | {'Set 2 Mode':>{13}} | {'Set 3 Mode':>{13}}")
for col in selected_data:    
    print(f"{col:<{max_col}}: {stat_set1[col].mode()[0]:>{13},.2f} | {stat_set2[col].mode()[0]:>{13},.2f} | {stat_set3[col].mode()[0]:>{13},.2f}")

print("\nSet Standard Deviation:")
print(f"{'Column':<{max_col+2}}{'Set 1 Std Dev':>{13}} | {'Set 2 Std Dev':>{13}} | {'Set 3 Std Dev':>{13}}")
for col in selected_data:    
    print(f"{col:<{max_col}}: {stat_set1[col].std():>{13},.2f} | {stat_set2[col].std():>{13},.2f} | {stat_set3[col].std():>{13},.2f}")

Set Means:
Column                           Set 1 Mean |    Set 2 Mean |    Set 3 Mean
ENROLL                      :    915,930.82 |    915,930.82 |    915,930.82
TOTAL_REVENUE               :  9,092,081.86 |  9,092,081.86 |  9,092,081.86
FEDERAL_REVENUE             :    766,372.34 |    766,372.34 |    766,372.34
STATE_REVENUE               :  4,216,552.95 |  4,216,552.95 |  4,216,552.95

Set Medians:
Column                         Set 1 Median |  Set 2 Median |  Set 3 Median
ENROLL                      :    820,414.00 |    820,414.00 |    820,414.00
TOTAL_REVENUE               :  6,359,310.50 |  6,359,310.50 |  6,359,310.50
FEDERAL_REVENUE             :    516,741.00 |    516,741.00 |    516,741.00
STATE_REVENUE               :  3,127,639.00 |  3,127,639.00 |  3,127,639.00

Set Modes:
Column                           Set 1 Mode |    Set 2 Mode |    Set 3 Mode
ENROLL                      :    915,930.82 |    915,930.82 |    915,930.82
TOTAL_REVENUE               :  9,092,081.86 |  9,092,081.86 |  9,092,081.86
FEDERAL_REVENUE             :    766,372.34 |    766,372.34 |    766,372.34
STATE_REVENUE               :  4,216,552.95 |  4,216,552.95 |  4,216,552.95

Set Standard Deviation:
Column                        Set 1 Std Dev | Set 2 Std Dev | Set 3 Std Dev
ENROLL                      :    966,772.54 |    966,772.54 |    966,772.54
TOTAL_REVENUE               : 10,878,184.01 | 10,878,184.01 | 10,878,184.01
FEDERAL_REVENUE             :  1,060,702.42 |  1,060,702.42 |  1,060,702.42
STATE_REVENUE               :  5,133,894.86 |  5,133,894.86 |  5,133,894.86