# 19.05 Evaluating Performance
## Assignment

###  2. House prices model

In this exercise, you'll work on your house prices model. To complete this assignment, submit a link to a Jupyter notebook containing your solutions to the following tasks:

* Load the **houseprices** data from Thinkful's database.
* Run your house prices model again and assess the goodness of fit of your model using F-test, R-squared, adjusted R-squared, AIC and BIC.
* Do you think your model is satisfactory? If so, why?
* In order to improve the goodness of fit of your model, try different model specifications by adding or removing some variables. 
* For each model you try, get the goodness of fit metrics and compare your models with each other. Which model is the best and why?

#### _First, load the dataset from the **weatherinszeged** table from Thinkful's database._

In [1]:
import warnings

import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import statsmodels.api as sm

from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

pd.options.display.float_format = "{:3f}".format

warnings.filterwarnings(action="ignore")

kagle = dict(
    drivername = "postgresql",
    username = "dsbc_student",
    password = "7*.8G9QH21",
    host = "142.93.121.174",
    port = "5432",
    database = "houseprices"
)

In [2]:
# Load the data from the "houseprices" database
engine=create_engine(URL(**kagle), echo=True)

houses_raw=pd.read_sql_query("SELECT * FROM houseprices", con=engine)

engine.dispose()

2020-01-06 20:45:01,446 INFO sqlalchemy.engine.base.Engine select version()
2020-01-06 20:45:01,454 INFO sqlalchemy.engine.base.Engine {}
2020-01-06 20:45:01,566 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-01-06 20:45:01,567 INFO sqlalchemy.engine.base.Engine {}
2020-01-06 20:45:01,671 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-01-06 20:45:01,674 INFO sqlalchemy.engine.base.Engine {}
2020-01-06 20:45:01,729 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-01-06 20:45:01,731 INFO sqlalchemy.engine.base.Engine {}
2020-01-06 20:45:01,784 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-01-06 20:45:01,786 INFO sqlalchemy.engine.base.Engine {}
2020-01-06 20:45:01,889 INFO sqlalchemy.engine.base.Engine SELECT * FROM houseprices
2020-01-06 20:45:01,891 INFO sqlalchemy.engine.base.Engine {}

In [3]:
houses_working = houses_raw.copy()

Select a subset of variables on which to base the model on

In [4]:
houses_df = houses_working[["neighborhood","overallqual","lotarea",
                            "totalbsmtsf","firstflrsf","grlivarea",
                            "totrmsabvgrd","garagecars","saleprice"]]

In [5]:
houses_df.describe()

,overallqual,lotarea,totalbsmtsf,firstflrsf,grlivarea,totrmsabvgrd,garagecars,saleprice
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,6.099315,10516.828082,1057.429452,1162.626712,1515.463699,6.517808,1.767123,180921.195890
std,1.382997,9981.264932,438.705324,386.587738,525.480383,1.625393,0.747315,79442.502883
min,1.000000,1300.000000,0.000000,334.000000,334.000000,2.000000,0.000000,34900.000000
25%,5.000000,7553.500000,795.750000,882.000000,1129.500000,5.000000,1.000000,129975.000000
50%,6.000000,9478.500000,991.500000,1087.000000,1464.000000,6.000000,2.000000,163000.000000
75%,7.000000,11601.500000,1298.250000,1391.250000,1776.750000,7.000000,2.000000,214000.000000
max,10.000000,215245.000000,6110.000000,4692.000000,5642.000000,14.000000,4.000000,755000.000000

In [6]:
houses_df.describe(include=["O"])

       neighborhood
count          1460
unique           25
top           NAmes
freq            225

In [7]:
# Create a set of dummies for the neighborhood variable, prefix the dummies with "neighborhood"
houses_df = pd.concat([houses_df, pd.get_dummies(houses_df["neighborhood"], prefix="neighborhood",drop_first=True)], axis=1)

# Create a set of dumies for the overallqual variable, previs the dummies with "overallqual"
houses_df = pd.concat([houses_df, pd.get_dummies(houses_df["overallqual"], prefix="overallqual",drop_first=True)], axis=1)

In [8]:
# Get a list of column names to be used for feature consideration
feature_names = houses_df.iloc[:,2:].columns.to_list()

# Pop saleprice from the list of feature_names
feature_names.pop(6)

'saleprice'

In [9]:
# Y is the target variable
Y = houses_df["saleprice"]

# X is the feature set
X = houses_df[feature_names]

# Add a constant to the model
X = sm.add_constant(X)

# Fit an OLS model using statsmodel
results = sm.OLS(Y,X).fit()

# Print the results
print(results.summary())

# Tear out the columns that I'm intersted in comparing 
first_model = results.summary2().tables[1]
first_model = first_model[["Coef.","P>|t|"]].round(4)

                            OLS Regression Results
==============================================================================
Dep. Variable:              saleprice   R-squared:                       0.834
Model:                            OLS   Adj. R-squared:                  0.829
Method:                 Least Squares   F-statistic:                     182.7
Date:                Mon, 06 Jan 2020   Prob (F-statistic):               0.00
Time:                        20:48:18   Log-Likelihood:                -17234.
No. Observations:                1460   AIC:                         3.455e+04
Df Residuals:                    1420   BIC:                         3.476e+04
Df Model:                          39
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  2.73e+04    2.5e+04      1.091      0.275   -2.18e+04    7.64e+04
lotarea                  0.5104      0.099      5.138      0.000       0.316       0.705
totalbsmtsf             15.2633      3.746      4.075      0.000       7.916      22.611
firstflrsf               2.3280      4.557      0.511      0.610      -6.612      11.268
grlivarea               41.6097      3.892     10.692      0.000      33.976      49.244
totrmsabvgrd             9.0013   1001.559      0.009      0.993   -1955.693    1973.696
garagecars            1.234e+04   1611.944      7.655      0.000    9177.804    1.55e+04
neighborhood_Blueste -1.607e+04   2.48e+04     -0.647      0.517   -6.48e+04    3.26e+04
neighborhood_BrDale  -2.419e+04    1.2e+04     -2.019      0.044   -4.77e+04    -689.656
neighborhood_BrkSide -8703.2186   9585.695     -0.908      0.364   -2.75e+04    1.01e+04
neighborhood_ClearCr  1.835e+04   1.07e+04      1.710      0.087   -2699.066    3.94e+04
neighborhood_CollgCr  1.166e+04   8555.303      1.362      0.173   -5126.417    2.84e+04
neighborhood_Crawfor  2.385e+04   9558.864      2.495      0.013    5096.028    4.26e+04
neighborhood_Edwards -1.814e+04   9177.239     -1.976      0.048   -3.61e+04    -136.106
neighborhood_Gilbert  7306.2099   9105.534      0.802      0.422   -1.06e+04    2.52e+04
neighborhood_IDOTRR  -2.599e+04   1.02e+04     -2.542      0.011    -4.6e+04   -5933.745
neighborhood_MeadowV  -1.56e+04    1.2e+04     -1.305      0.192   -3.91e+04    7845.797
neighborhood_Mitchel -2017.7272   9570.628     -0.211      0.833   -2.08e+04    1.68e+04
neighborhood_NAmes   -5003.4636   8707.427     -0.575      0.566   -2.21e+04    1.21e+04
neighborhood_NPkVill -1.107e+04   1.39e+04     -0.798      0.425   -3.83e+04    1.61e+04
neighborhood_NWAmes   -277.0948   9106.056     -0.030      0.976   -1.81e+04    1.76e+04
neighborhood_NoRidge  5.677e+04      1e+04      5.669      0.000    3.71e+04    7.64e+04
neighborhood_NridgHt   4.01e+04   9198.281      4.359      0.000    2.21e+04    5.81e+04
neighborhood_OldTown -2.718e+04   9054.746     -3.002      0.003   -4.49e+04   -9418.411
neighborhood_SWISU   -1.933e+04    1.1e+04     -1.759      0.079   -4.09e+04    2223.829
neighborhood_Sawyer  -4799.7841   9340.507     -0.514      0.607   -2.31e+04    1.35e+04
neighborhood_SawyerW  5665.8848   9266.049      0.611      0.541   -1.25e+04    2.38e+04
neighborhood_Somerst  1.712e+04   8894.043      1.925      0.054    -327.155    3.46e+04
neighborhood_StoneBr  5.038e+04   1.07e+04      4.718      0.000    2.94e+04    7.13e+04
neighborhood_Timber   1.377e+04   9927.620      1.387      0.166   -5708.576    3.32e+04
neighborhood_Veenker  3.527e+04   1.29e+04      2.729      0.006    9920.360    6.06e+04
overallqual_2         -205.3532   3.02e+04     -0.007      0.995   -5.94e+04     5.9e+04
overallqual_3         2447.1836   2.46e+04      0.100      0.921   -4.57e+04    5.06e+04
overallqual_4         1.576e+04   2.36e+04      0.667      0.505   -3.06e+04    6.21e+04
overallqual_5         2.243e+04   2.36e+04      0.952      0.341   -2.38e+04    6.86e+04
overallqual_6         3.154e+04   2.36e+04      1.336      0.182   -1.48e+04    7.79e+04
overallqual_7         4.846e+04   2.38e+04      2.040      0.042    1850.225    9.51e+04
overallqual_8         7.865e+04    2.4e+04      3.273      0.001    3.15e+04    1.26e+05
overallqual_9         1.481e+05   2.47e+04      5.998      0.000    9.97e+04    1.97e+05
overallqual_10        1.723e+05   2.57e+04      6.712      0.000    1.22e+05    2.23e+05
==============================================================================
Omnibus:                      599.867   Durbin-Watson:                   1.922
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            54406.516
Skew:                          -0.968   Prob(JB):                         0.00
Kurtosis:                      32.843   Cond. No.                     1.27e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.27e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

#### _Do you think your model is satisfactory? If so, why?_

I beleieve that the model is fairly well performant.  The R-squared and adjusted R-squared are 83.4% and 82.9% respectively and both have a fairly low AIC and BIC score at 3.455 and 3.476 respectively.

#### _In order to improve the goodness of fit of your model, try different model specifications by adding or removing some variables._